In [155]:
from librerias import *

In [156]:
btc = pd.read_csv ('Data/btc_limp.csv')

btc.set_index('Date', inplace=True)

btc.index = pd.to_datetime(btc.index)
btc_mes = btc.resample('MS').first()

# Elimina los datos anteriores a '2014-01-01'
btc = btc_mes.loc['2014-01-01':]

In [157]:
btc_mes = btc ['Open']
btc_mes = pd.DataFrame (btc_mes)

In [158]:
btc_mes ['retornos']= btc_mes ['Open'].pct_change ().round (3).dropna ()

In [159]:
btc_sin_up = btc_mes.copy ()
btc_sin_up = pd.DataFrame (btc_sin_up)
btc_sin_up.index = pd.to_datetime(btc_sin_up.index)

btc_sin_up_down = btc_mes.copy ()
btc_sin_up_down = pd.DataFrame (btc_sin_up_down)
btc_sin_up_down.index = pd.to_datetime(btc_sin_up_down.index)

In [160]:
btc_mes ['ganancias'] = (1 + btc_mes['retornos']).cumprod()

btc_mes.tail ()

             Open  retornos  ganancias
Date
2023-11-01  34648     0.285  43.024011
2023-12-01  37712     0.088  46.810124
2024-01-01  42272     0.121  52.474149
2024-02-01  42580     0.007  52.841468
2024-03-01  61157     0.436  75.880348

In [161]:
indices_mejores = btc_mes['retornos'].nlargest(5).index
btc_sin_up.loc[indices_mejores, 'retornos'] = 0.0

In [162]:
btc_sin_up ['ganancias'] = (1 + btc_sin_up['retornos']).cumprod()

btc_sin_up.tail ()

             Open  retornos  ganancias
Date
2023-11-01  34648     0.285   4.190586
2023-12-01  37712     0.088   4.559358
2024-01-01  42272     0.121   5.111040
2024-02-01  42580     0.007   5.146817
2024-03-01  61157     0.436   7.390830

In [163]:
# Obtener los Ã­ndices de los 5 mejores y 5 peores meses
indices_mejores = btc_sin_up_down['retornos'].nlargest(5).index
indices_peores = btc_sin_up_down['retornos'].nsmallest(5).index

# Asignar 0.0 a los valores correspondientes en la columna 'retornos'
btc_sin_up_down.loc[indices_mejores, 'retornos'] = 0.0
btc_sin_up_down.loc[indices_peores, 'retornos'] = 0.0

In [164]:
btc_sin_up_down.tail ()

             Open  retornos
Date
2023-11-01  34648     0.285
2023-12-01  37712     0.088
2024-01-01  42272     0.121
2024-02-01  42580     0.007
2024-03-01  61157     0.436

In [165]:
btc_sin_up_down ['ganancias'] = (1 + btc_sin_up_down['retornos']).cumprod()

btc_sin_up_down.tail ()

             Open  retornos  ganancias
Date
2023-11-01  34648     0.285  39.803542
2023-12-01  37712     0.088  43.306254
2024-01-01  42272     0.121  48.546311
2024-02-01  42580     0.007  48.886135
2024-03-01  61157     0.436  70.200489