![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [ ]:
#Escribe el título del proyecto en Markdown
titulo = "Analisis exploratorio de Bitcoin"

### TEMA

In [ ]:
# Describe brevemente el tema del proyecto en Markdown
tema = "Conocer algunos aspectos fundamentales de la cotización de bitcoin y conocer que tipo de estrategias han funcionado mejor en el pasado"

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

In [ ]:
# Escribe tu hipótesis principal en Markdown
hipotesis_1 = "Estrategia cruce de emas 50/200 para inversión a largo plazo en tf semanal/diario"
hipotesis_2 = "Rentabilidades si estamos siempre en el mercado, evitando los 15 peores/mejores rendimientos semanal"
hipotesis_3 = "Volatilidad implicita o historica del btc y como afecta en otros activos del mercado"
hipotesis_4 = "Correlacion de btc/usdt y eth/btc"
hipotesis_5 = "Corellacion de btc/usdt con intereses de lending o defi"

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [6]:
import pandas as pd
import numpy as np
# guarda en variables los datasets y su fuente
df_bit = pd.read_csv (r"C:\Users\pobla\OneDrive\Escritorio\REPOS_TO\MI_REPO\ONLINE_DS_THEBRIDGE_-Jorge_Pobla-\Sprint_8\EDA\Data\Bitcoin_Historical_Data4.csv")

fuente_1 = ""
# df_2 = pd.DataFrame()
# fuente_2 = ""
# df_3 = pd.DataFrame()
# fuente_3 = ""
# df_4 = pd.DataFrame()
# fuente_4 = ""
# df_5 = pd.DataFrame()
# fuente_5 = ""
# ...

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [7]:
# Primer dataset
# df_1.head()
df_bit.head ()

         Date     Price      Open      High       Low     Vol. Change %
0  03/18/2024  67,594.1  68,389.7  68,920.1  66,601.4   78.07K   -1.17%
1  03/17/2024  68,391.2  65,314.2  68,857.7  64,605.5   66.07K    4.71%
2  03/16/2024  65,314.2  69,456.5  70,037.0  64,971.0   75.82K   -5.97%
3  03/15/2024  69,463.7  71,387.1  72,398.1  65,765.6  148.59K   -2.69%
4  03/14/2024  71,387.5  73,066.7  73,740.9  68,717.2  109.43K   -2.30%

In [8]:
df_bit

            Date     Price      Open      High       Low     Vol. Change %
0     03/18/2024  67,594.1  68,389.7  68,920.1  66,601.4   78.07K   -1.17%
1     03/17/2024  68,391.2  65,314.2  68,857.7  64,605.5   66.07K    4.71%
2     03/16/2024  65,314.2  69,456.5  70,037.0  64,971.0   75.82K   -5.97%
3     03/15/2024  69,463.7  71,387.1  72,398.1  65,765.6  148.59K   -2.69%
4     03/14/2024  71,387.5  73,066.7  73,740.9  68,717.2  109.43K   -2.30%
...          ...       ...       ...       ...       ...      ...      ...
4988  07/22/2010       0.1       0.1       0.1       0.1    2.16K    0.00%
4989  07/21/2010       0.1       0.1       0.1       0.1    0.58K    0.00%
4990  07/20/2010       0.1       0.1       0.1       0.1    0.26K    0.00%
4991  07/19/2010       0.1       0.1       0.1       0.1    0.57K    0.00%
4992  07/18/2010       0.1       0.0       0.1       0.1    0.08K    0.00%

[4993 rows x 7 columns]